* {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

body {
    margin: 0;
    background-color: #2B3348;
    color: white;
}

.main-body {
    overflow: hidden;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #131A24;
    overflow: hidden;
}

img {
    width: 60px;
    height: 60px;
    float: left;
    padding-left: 10px;
    margin-top: -10px;
}

.navItem {
    display: inline;
    float: left;
    text-align: center;
    margin-bottom: -10px;
}

.navLink {
    display: block;
    /* padding-right: 2rem; */
    /* padding-left: 2rem; */
    padding-bottom: 0;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0;
    font-weight: bold;
}

.navItem:hover {
    background-color: #374665;
    color: white;
}

#background-vid {
    position: absolute;
    top:0;
    left:0;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.tagline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

#tagline {
    /* font-size: 80wv; */
    font-size: 3rem;
    font-family: 'Cinzel Decorative', serif;
    text-decoration: none;
    text-align: center;
    margin-top: -80px;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
}

#logo {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.5rem;
    padding-left:0;
    padding-top: 3.5px;
    color: white;
    text-decoration: none;
    padding-top: 0;
    padding-right: 7px;
}

#logo:hover {
    text-decoration: none;
    background-color: #131A24;
}

.plan-visit-body {
    background-image: url("./assets/glencoeImage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh;  */
    width: 100vw;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.plan-visit-title {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    font-size: 1.6rem;
    color: #313a05;
}

.plan-visit-subheading {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    font-size: 1.3rem;
    color: #313a05;
}

.plan-visit-content {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    width: 80%;
    background-color: #ffffffd2;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    max-width: 75%;
    border-radius: 10px;
}

#white-subheading {
    color: white;

}

.plan-visit-text {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0.5rem;
    text-align: justify;
}

#directions {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing:0.5px;
    font-weight: bold;
    text-align: center;
    font-size:1.3rem;
}

#directions-subtitle {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
    font-size:1.2rem;
    margin-left: 0.5rem;
}

.bold {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#pv-link {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #23950a;
    text-decoration: none;
}

#pv-link:hover {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    color:rgb(27, 98, 32);
    font-style: italic;
}

#credit-info {
    text-align: center;
}

.map {
    display:block;
    margin: auto auto;
    min-width: 50%;
    min-height: 50%;
    max-width: 85%;
    max-height: 85%;
    border-radius: 15px;
}

.map-title {
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.6rem;
    color: #131A24;
    /* color: #080f1a; */
}

.map-container {
    text-align: center;
    background-color: #142135bd;
    max-width: 90%;
    margin: auto auto;
    padding-bottom: 2%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.map-page-body {
    background-image: url(./assets/glencoeImage5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh;  */
    width: 100vw;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.map-content {
    max-width: 90%;
    margin: auto auto;
    padding: 0;
    border-radius: 10px;
    /* color: #142135; */
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* background-color: #142135bd; */
}

.map-list {
    list-style: none;
    text-align: justify;
    padding: 1%;
}

.map-list-item {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.2rem;
    padding-right: 0;
    text-align: center;
    font-weight: bold;
    padding: 0.5% 0;
}

/* .map-list-item:hover
    font-size: 1.5rem;
    /* color: #00ff00; */

#source {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    /* margin: 0 0 2% 2%; */
    padding-bottom: 2%;
    border-bottom: 1px solid white;
}

#map-sources {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    /* color: #2c3d40; */
    color: #b8e59c;
    font-size: 0.7rem;
}

#map-sources:hover {
    font-style: italic;
    color: #dfbdf1;
}

#map-paragraphs {
    font-family: 'M PLUS Rounded 1c', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    text-align: justify;
    /* margin: 1% 2%; */
}

.map-border {
    margin: 1%;
    padding: 0;
}

.gallery-title {
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.6rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}

.gallery-page {
    background-image: linear-gradient(
        to right,
        #080f1a,
        #142135,
        #223c63,
        #223c63,
        #142135,
        #080f1a
        );
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 5%;
    max-width: 90%;
    max-height: 50%;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery-img {
    width: 100%;
    /* height: 100%; */
    /* max-width: 100%; */
    /* height: 300px; */
    object-fit: cover;
    /* border-radius: 5px; */
    border-radius: 2px;
    margin: 1% 0;
    padding:0;
  }

  .gallery-img:hover {
    /* height: 25%; */
    height: 500px;
    max-height: 50%;
  }
  
  .gallery::after {
    content: "";
    /* width: 350px; */
  }