* {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

body {
    margin: 0;
    background-color: #2B3348;
    color: white;
    /* overflow: hidden; */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #131A24;
    overflow: hidden;
}

.navItem {
    display: inline;
    float: left;
    text-align: center;
}

.navLink {
    display: block;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0;
    font-weight: bold;
}

.navItem:hover {
    background-color: #374665;
    text-decoration: underline;
    text-decoration-style: double;
    color: white;
}

#background-vid {
    position: absolute;
    top:0;
    left:0;
}

/* .video-wrapper {
    max-height: 850.37px;
    max-width: 1046.67px;
} */

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.tagline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

#tagline {
    font-size: 3rem;
    font-family: 'Cinzel Decorative', serif;
    text-decoration: none;
    text-align: center;
}

#logo {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.2rem;
}

.plan-visit-body {
    background-image: url("glencoeImage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100vw;
    z-index: 1;
}

.plan-visit-title {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    font-size: 1.6rem;
    color: #313a05;
}

.plan-visit-subheading {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    font-size: 1.2rem;
    color: #313a05;
    /* margin-bottom: 10%; */
}

.plan-visit-content {
    width: 80%;
    /* background-color: #d7d6d4b3; */
    /* background-color: rgb(58, 67, 81,0.8); */
    /* background-color: rgb(49, 53, 9,0.8); */
    background-color: rgb(54, 45, 40,0.8);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    max-width: 75%;
    border-radius: 10px;
}

#white-subheading {
    color: white;
}